.container-top-sect-properti{
	padding-top: 65px;
}
.top-sect-properti{
    background: url("../../assets/rumah-2.jpg");
    height:50vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
.top-sect-layer-properti{
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.4);
	text-transform: uppercase;
	color: #262626;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.top-sect-layer-properti h2{
	font-size: 45pt;
	letter-spacing: 1px;
	font-family: 'Roboto', sans-serif;
}
.top-sect-layer-properti p{
	letter-spacing: 3px;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
}
.box-agent{
    text-align: center;
}
.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    background: #fff;
}
.cards p{
	font-size: 15px !important;
}
.title {
    color: grey;
    font-size: 18px !important;
}

.cards > p > button {
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: 0;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #054c48;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
}

.cards > p > a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.cards > p > button:hover, .cards > p > a:hover {
    opacity: 0.9;
}