header{
	width: 100%;
	position: fixed;
	/*height: 70px;*/
	/*padding:10px 0;*/
	transition: 0.3s;
	z-index: 998;
	background-color: #f4f7f6;
	/*border-bottom: 1px solid #f2f2f2;*/
	overflow: hidden;
}
.bt-menu
{
	height: 100%;
	width: 100px;
	display: table;
}
.menu-bar-left
{
	display: table-cell;
	vertical-align: middle;
	padding:0 23px;
	cursor: pointer;
	border-right: 1px solid #e6eaea;
}
.container-menu-bar-left
{
	position: relative;
	width: 15px;
	float: left;
}
.bar-menu-bar-left
{
	position:absolute;
	height:3px;
	background-color:black;
	overflow:hidden;
}
.bar-menu-bar-left:after
{
	content:'';
	display:block;
	width:100%;
	height:100%;
	background:#A6ABAB;
	position:absolute;
	top:0;
	left:100%;
	z-index:99;
	-webkit-transition:0.3s;
	transition:0.3s;
}
.menu-bar-left:hover .bar-menu-bar-left:after
{
	left: 0;
}
.bar-menu-bar-left:nth-child(1)
{
	width: 20px;
	top: 5px;
}
.bar-menu-bar-left:nth-child(1)::after
{
	transition-delay: .2s;
}
.bar-menu-bar-left:nth-child(2)
{
	width: 15px;
	top: 11px;
}
.bar-menu-bar-left:nth-child(2)::after
{
	transition-delay: .4s;
}
.bar-menu-bar-left:nth-child(3)
{
	width: 20px;
	top: 17px;
}
.bar-menu-bar-left:nth-child(3)::after
{
	transition-delay: .6s;
}

.menu-item-left-bar
{
	margin: 0 25px;
}

.logo{
	height: 100%;
	text-align: center;
}
.logo img{
	transition: 0.3s ease-in-out;
	padding: 10px 0;
	width: 100px;
}
.btn-regist
{
	text-align: center;
	border-left: 1px solid #f2f2f2;
	height: 100%;
	display: table;
}
.btn-regist > div
{
	display: table-cell;
	vertical-align: middle;
}
.btn-regist > div > a
{
	display: block;
	padding: 23px;
	color: #000;
	font-weight: 500;
	font-family: "Roboto",sans-serif;
	text-transform: uppercase;
	font-size: 13px;
}
.btn-regist:nth-child(2) > div > a
{
	display: block;
	padding: 23px;
	color: #fff;
}
.btn-regist:nth-child(2)
{
	background-color: #49c5b6;
	transition: 0.3s;
}
.btn-regist:nth-child(2):hover
{
	background-color: #16A085;
}


.push-side-left-page
{
	margin-left:0px !important;
	transition: 0.5s;
}

#navsidebar{
	position: fixed;
	left: 0;
	top: 0;
	width: 230px;
	height: 100%;
	margin-left: -230px;
	background-color: #f4f7f6;
	z-index: 999;
	transition: 0.5s;
}
.close{
	font-size: 30px;
	position: absolute;
	top: 6px;
	right: 10px;
	cursor: pointer;
	color: #020202;
}

#navsidebar ul li a
{
	display: block;
	padding:15px 25px;
	text-decoration: none;
	list-style-type: none;
	color: #202121;
	font-weight: 500;
	font-family: "Roboto",sans-serif;
	text-transform: uppercase;
	font-size: 18px;
}
#navsidebar ul li
{
	border-bottom: 1px solid #f2f2f2;
	transition: 0.2s;
	position: relative;
	list-style: none;
}
#navsidebar ul li:after
{
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	height: 100%;
	width: 0;
	background-color:  #6C7A89;
	transition: 0.2s;
}
#navsidebar ul li:hover
{
	background-color: #fcfcfc;
}
#navsidebar ul li:hover::after
{
	width: 2px;
}
#navsidebar ul li a span
{
	margin-right: 10px;
}


.login-dp{
	display: none;
}

@media(max-width: 768px){
	.login-dp{
		display: block;
	}
	#dp-none{
		display: none;
	}
}

