.container-notfound{
	width:100%;
	height: 100vh;
	display: table;
}
.notfound-inside{
	display: table-cell;
	vertical-align: middle;
	margin:0 auto;
}
.notfound-404{
	padding:0 50px !important;
	font-family: 'Roboto', sans-serif;
	color:#fff;
}
.notfound-404 >	 h1{
	font-size: 100pt;
	font-weight: 800;
	letter-spacing: 5px;
}
.notfound-404 >	 p{
	font-size: 18pt;
	letter-spacing: 0.5px;
}