.container-top-sect-properti{
	padding-top: 65px;
}
.top-sect-properti{
    background: url("../../assets/rumah-2.jpg");
    height:50vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
.top-sect-layer-properti{
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.4);
	text-transform: uppercase;
	color: #262626;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.top-sect-layer-properti h2{
	font-size: 45pt;
	letter-spacing: 1px;
	font-family: 'Roboto', sans-serif;
}
.top-sect-layer-properti p{
	letter-spacing: 3px;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
}

.card img{
	height: 250px;
}
.label-type{
	width: 100%;
}
[class*="label-type-"]{
	font-size: 12px;
	padding:5px 10px;
	margin:5px;
	font-weight: 800;
	letter-spacing: 1px;
	color: #f2f2f2;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}
.label-type-sell{
	background: #EF4836;
}
.label-type-rent{
	background: #1BBC9B;
}
.label-type-HotOffer{
	background: #22313F;
}
.label-type-sold{
	background: #22313F;
}
.container-image-card{
	position: relative;
}
.label-price{
	font-family: 'Roboto', sans-serif;
	position: absolute;
	bottom: 0;
	right: 0;
	padding:5px 10px;
	background:#F9BF3B;
	color:#fff;
}
.label-done{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
	background: #22313F;
	color:#fff;
	-webkit-clip-path: polygon(0% 0%, 0 90%, 80% 0);
	clip-path: polygon(0% 0%, 0 90%, 80% 0);
}
.label-done p{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	transform: rotate(320deg);
	font-size: 18px;
}
.card a{
	text-decoration: none;
	color: #000;
}
.card:hover a{
	text-decoration: none;
	color: #000;
}
