.container-top-sect{
	padding-top: 65px;
}
.top-sect{
    background: url("../../assets/rumah.jpg");
    height:91vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
.top-sect-layer{
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.3);
	text-transform: uppercase;
	color: #0c0c0c;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.top-sect-layer h2{
	font-size: 45pt;
	letter-spacing: 1px;
	font-family: 'Roboto', sans-serif;
}
.top-sect-layer p{
	letter-spacing: 3px;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
}
.container-search-top-sect{
	width: 100%;
	position: absolute;
	bottom: 0px;
}
.search-top-sect{
	height: 100px;
	margin:0 auto;
	background: rgba(255,255,255,0.5);
}

.kenapa-kita img{
	width: 100px;
}
/*==== s ====*/


@media(max-width: 768px){
	.top-sect-layer h2{
		font-size: 35pt;
		letter-spacing: 0px;
	}
	.top-sect-layer p{
		letter-spacing: 0px;
	}	
}