.font-up-center{
	text-transform: uppercase;
	text-align: center;
}
.list-contact li{
	list-style: none !important;
	padding:10px;
	border-bottom: .5px solid #f2f2f2;
}
.list-contact li > span{
	margin-left: 10px;
}
.list-contact li > span > a{
	color: #000;
	text-decoration: none;
}
.list-contact li > span > a:hover{
	color: #000;
	text-decoration: none;
}