.container-top-sect{
	padding-top: 65px;
}
.container-box{
	width: 50%;
	margin:auto;
	padding:25px;
	background: #fff;
	border-radius: 3px;
}
.title{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #666666;
}
.form-group-register{
	margin-bottom: 15px;
	padding:10px;
	color: #666666;
	position: relative;
}
.form-group-register input{
	border: none;
	border-bottom: 0.5px solid #d2d2d2;
}
.form-group-register input[type="submit"]{
	padding:10px;
	border-bottom: none;
	color: #22313F;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}
.form-group-register select{
	border: none;
	padding:9px;
	outline: none;
}
/*.form-group-register label{
	position: absolute;
	bottom: 0;
}
.label-push-register{
	bottom: 30px !important;
}*/
.form-controls-register
{
	width: 100%;
	outline: none;
	padding:5px;
}
.selecr{
	width: 100%;
}
@media(max-width: 768px){
	.container-box{
		width: 100% !important;
	}
}