.container-footer{
	background:#161e22;
	color: #f2f2f2;
	height: 50vh;
}
.footerTop{
	background:url("http://starproperti.com/images/map.png");
	background-size: cover;
	padding:80px 0;
	height: 100%;
}
.footerTop h6:after{
	display: block;
	content: '';
	width: 50px;
	height: 2.5px;
	margin:5px 0;
	background-color: #f2f2f2;
}
.footerTop ul li{
	list-style-type: none;
}
.footerTop ul li a{
	text-decoration: none;
	color: #f2f2f2;
}
@media max-width(768px){
	.footerTop{
		background: none !important;
	}
	.container-footer{
		height: auto;
	}
}