.container-top-sect{
	padding-top: 65px;
}
.box-agent{
    text-align: center;
    position: -webkit-sticky !important;
}
.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    max-width: 100%;
    background: #fff;
}
.cards p{
	font-size: 15px !important;
}
.title {
    color: grey;
    font-size: 18px !important;
}
.cards > p > button {
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: 0;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #054c48;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
}

.cards > p > a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.cards > p > button:hover, .cards > p > a:hover {
    opacity: 0.9;
}

.rounded-circle{
	border-radius: 50% !important;
}
.box-card{
	padding:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	background: #fff;
}
.box-card h5:after{
	display: block;
	content: '';
	height: 2px;
	width: 5%;
	background: #666666;
	margin:10px 0;
}