.container-top-sect{
	padding-top: 65px;
}
.container-box{
	width: 50%;
	margin:auto;
	padding:25px;
	background: #fff;
	border-radius: 3px;
}
.title{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #666666;
}
.form-group-login{
	margin-bottom: 15px;
	padding:10px;
	color: #666666;
	transition: 0.4s;
	position: relative;
}
.form-group-login input{
	border: none;
	border-bottom: 0.5px solid #d2d2d2;
}
.form-group-login input[type="submit"]{
	padding:10px;
	border-bottom: none;
	color: #22313F;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.form-group-login label{
	position: absolute;
	bottom: 0;
}
.label-push-login{
	bottom: 30px !important;
}
.form-controls-login
{
	width: 100%;
	outline: none;
	padding:5px;
}