*{
	margin:0;
	padding:0;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a{
	text-decoration: none;
}

.np{
	padding: 0 !important;
}
.nm{
	margin: 0 !important;
}
.lg-pd{
	padding:50px 10%;
}
.dp-block-fasilitas{
	display: block;
	padding:10px;
}
.uppercase-text{
	text-transform: uppercase;
}
.our-property{
	padding:50px 0 0 0;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	font-family: 'Roboto', sans-serif;
}
.our-property p:before{
	display: block;
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	transform: translate(-50% , -50%);
	width: 5%;
	height: 3px;
	background-color: #49c5b6;
}
.our-property a{
	width: 25%;
	color: #000;
	font-size: 15px;
	padding:10px 20px;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	text-decoration: none;
}
.our-property a:hover{
	text-decoration: none;
	color: #10151c;
	background: rgba(0,0,0,0.1);
	transition: 0.4s;
}
@media(max-width: 768px){
	.lg-pd{
		padding: 50px 10px;
	}
	[class*="col-"]{
		padding:0 !important;
	}
}